{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },

  "ConnectionStrings": {
    "DefaultConnection": "YOUR CONNECTION STRING"
  },

  "JWT": {
    "Issuer": "http://localhost:7156",
    "Audience": "http://localhost:7156",
    "SigningKey": "YOUR SECRET KEY" //A SECURE KEY

  },
  "AllowedHosts": "*"
}
